.navbar-brand{
    text-align: center;
}

.navbar{
    background-color: black;
    display: block;
}

.nav.navbar-nav li{
    display: flex;
    vertical-align: middle;
    height: 40%;
}

.nav.navbar-nav li a img{
    vertical-align: auto;
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 2px;
}

 .nav.navbar-nav li a {
    padding: 14px 18px;
    display: block;
 }

 .jumbotron{
    background-image: url(/Team&Jerseys/IPL\ Logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(182, 179, 179);
 }

 .thumbnail{
    border: 1px solid gray;
    height: 180px;
    width: 140px;
 }

 .algn{
    text-align: center;
 }

 .ab{
    padding: 1%;
 }

footer{
    background-color: black;
    padding: 1% 2%;
    text-align: center;
    color: blanchedalmond;
    margin: 0 -102px;

}

.row{
    padding: 3%;
}

.ful{
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: white;
}


.ful li a{
    color: rgb(143, 138, 138);
    text-decoration: none;
    display: flex;
    align-items: right;
}

.ful li a .fab, .ful li a .fas{
    margin-right: 5px;
    font-size: 1.2em;
}

footer{
    color: rgb(143, 138, 138);
}


   
    